*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ConteinerCar{
display: flex;
flex-direction: column;
justify-content: center;
border: solid 2px black;
width: 60%;
height: 60%;
}
.headerCar{
    width: 30%;
    height: 30%;
    border :solid 2px pink;
}