*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ProductosContainer{
  min-width:700px;
  height: 100%;
  background-color: rgb(199, 95, 95);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
}
.imgProductoItem{
  width: 200px;
  height: 100px;
  height: auto;
  border: solid 2px black;
  border-radius: 4px;
  box-shadow: 4px 5px 12px 12px white;
  margin-top: 12px;
 
  
}
.ProductoContainerList{
  width: 200px;
  height: 100px;
  margin: 12px;
  padding: 23px;
  cursor: pointer;
   box-shadow: 4px 5px 7px 8px grey;
}
.ProductoContainerList:hover{
  border-radius: 100%;
}
.DescripcionDeProducto,.ProductoContainerList{
 border:  solid 1px rgb(168, 163, 163);
 background-color: rgb(228, 228, 228);
}
.DescripcionDeProducto{
  width: 400px;
  height: auto;
  text-align: right;
  font-size: 15px;
  font-weight: lighter;
  align-self: center;
 color: rgb(156, 146, 146);
 border-bottom-left-radius: 12px;
 

}
.CategoriaDeItem{
  width: 400px;
  height: auto;
  text-align: right;
  font-size: 20px;
  font-weight:bolder;
  align-self: flex-end;
  color: rgb(226, 223, 223);
 
}
.imgProductoItem:hover{
background-image: url('./assets/carrito.jpg');
width: 190px;
height: auto;
border: solid 2px black;
border-radius: 24px;
cursor: pointer;
z-index: 2;
}

